.product h1{
    font-weight: bold !important;
    font-size: 35px;
    margin-bottom: 40px;
    margin-left: 35px;
}

.product .product__filter ul{
    display: flex;
}
.product .product__filter ul li{
    margin-left: 35px;
    color: gray;
}
.active{
    text-decoration: underline;
    color: rgb(13, 13, 13) !important;
}
.product .product__filter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.filter__section{
    /* display: grid;
    padding: 20px;
    margin-top: 50px; */
    background-color: rgb(231, 230, 230);
    /* grid-template-columns: repeat(auto-fill, minmax(300px ,1fr)); */
}

.product .btns button{
    margin-top: 30px;
    margin-left: 30px;
  padding: 10px;
  border-radius: 3px;
  margin-left: 10px;
  background-color: transparent;
  border: 1px solid #e6e6e6;
  color: gray;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.black{
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: black;
    left: -16px;
    top: 3px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.filter__section li{
    position: relative;
    color: gray;
    margin-top: 7px;
    cursor: pointer;
}
.blue{
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: rgb(21, 19, 173);
    left: -16px;
    top: 3px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.gray{
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: gray;
    left: -16px;
    top: 3px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.green{
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: rgb(8, 116, 56);
    left: -16px;
    top: 3px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.product{
    width: 100%;
}
.red{
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: rgb(173, 19, 40);
    left: -16px;
    top: 3px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.white{
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: rgb(255, 250, 251);
    left: -16px;
    top: 3px;
    border: 1px solid black ;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.filter__section button{
    margin-top: 20px;
    color: gray;
    margin-left: 10px;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 13px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
@media (max-width:570px){
    .product .product__filter ul li{
        font-size: 13px;
    }
}

@media (max-width:1150px){
   .filter__section ul{
    margin-top: 40px;
    margin-left: 20px;
   }
}
.product .filter__list li{
text-align: center;
margin-left: 15px;
}
.product .filter__list{
    display: flex;
    padding: 20px;
    margin-top: 70px;
}